. cnavbar {
    background-color: #B51E1E
}


.social {
    position:fixed;
    padding-left: 0px;
    padding-right: 0px !important;
    cursor: pointer;
}
.social2 {
    position:fixed;
    padding-left: 1px;
    padding-right:18px !important;
    cursor: pointer;
}

.social:hover {
    color: gray;
    text-decoration: none;
}


.credit {
    font-size:14px;
    margin-top:0px;
        color: white;
    text-shadow: 0 0 4px black;
    display:block;
    position:absolute;
    right: 1%;
    bottom: 3%;
    align-content: right
}

.quote{
    font-size:35px;
    color: white;
    text-shadow: 0 0 4px black;
    margin-left: 35%;
    margin-right: 6%;
    text-align:justify;
    position:absolute;
    top: 10%;

}

.arrow-down-custom{
    color: black
}

.viewing {

    background-color: transparent;
}

.notviewing {
    display: inline;

    background-color: transparent;
}


.legend-custom {
    position: relative;
    background-color: transparent;
    width: 100%;
    font-size: 18px !important;
    color: transparent;
    font-family: 'Titillium Web', serif;
    box-shadow: none;
    border-radius: 0;
}

.legend-custom p {
    line-height:30px;
    font-size: 18px;
}

.legend-custom p i {
    line-height:30px;
    font-size: 18px;
}

.legend-custom i {
    width: 18px;
    height: 18px;
    /*float: left;*/
    opacity: 0.9;
    margin-top: 5px;
    margin-right: 5px
}

section p {
    height: 18px;
}


body {

    color: rgba(0, 0, 0, 1);
    font-family: 'Titillium Web', serif;

}

h1{
    font-size: 80px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 5%;
    margin-left: 4%;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
    font-family: 'Fira Sans Condensed', serif;
}

h2{
    font-size:25px;
    /*margin-top: 20px;*/
    padding-left: 17%;
    padding-right: 17%;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
    font-family: 'Titillium Web', serif;
}

.h2_overview{
    font-size:25px;
    /*margin-top: 20px;*/
    padding-left: 5%;
    padding-right: 28%;
    padding-bottom: 2%;
    color: whitesmoke;
    text-shadow: 0 0 1px black;
    font-family: 'Titillium Web', serif;
    margin-bottom: 0px;
    position:absolute;
    bottom: 4%;

}

h3{
    font-weight:bold;
    color: #000000;
    font-family: 'Titillium Web', serif;
    font-size:30px;
    margin-top: -15%;
    margin-bottom: 2.5%;
    color: rgba(0, 0, 0, 0.95);
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

.h3_info{
    font-size:50px;
    margin-top: -3%;
}

h4{
    font-weight: bold;
}

h5{
    font-weight:bold;
    text-align: justify;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
}

p{
    font-size: 18px;
    display: inline;
    color:black
}

.p_end{
    font-size:35px;
    color: white;
    text-shadow: 0 0 4px black;
    margin-left: 5%;
    /*margin-right: 40%;*/
    text-align:justify;
    position:absolute;
    top: 20%;
    right: 30%
}

.description{
    font-size: 30px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.end-background-img {
    background: url("../img/people81.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.overview-background-img {
    background: url("../img/frontpage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.checkin-background-img {
    background: url("../img/page2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border:0.2px solid #ffffff;
}


/*.pipeline_pattern {*/
    /*stroke: #B51E1E;*/
    /*fill: none;*/
    /*stroke-opacity: 0.8;*/
    /*stroke-dasharray: 15,15;*/
    /*stroke-width: 10;*/

/*}*/

.point-legend {
    font-size: 20px;
}

.hexbin-hexagon {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: .5px;
}

.embeded-photo img {
    /*margin-top:20px;*/
    margin: 4px 4px 4px 4px;
    box-shadow: 0 0 0 4px #fff;
    /*border: 1px solid #ddd;*/
    border-radius: 1px;
    padding: 5px;
    background-color: white;
    max-width: 480px;
}

.embeded-photo p {
    font-size: 15px;
    font-weight: bold;
}

.linechart {

    margin-top: 30px
}
.text-primary {
    color: #006080;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: #006080;
    stroke-width: 5px;
}


.tooltipdiv{
    width:400px;
    white-space: normal;
    font-size: 15px;
}

@keyframes fade {
    from { opacity: 0.3; }
}

.sr-label1{
    color: gray;
    font-family: 'Kreon', serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    position: relative;
    border: 0px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0)  !important;
    width:200px;
    font-size:13px;
    background-color: transparent;
    opacity: 0.9
}

.sr-label1:before{
    border-left-color: rgba(0,0,0, 0);
}

.sr-label{
    color: gray;
    font-family: 'Kreon', serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    position: relative;
    border: 0px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0)  !important;
    width:200px;
    font-size:20px;
    background-color: transparent;
    opacity: 0.9
}

.sr-label:before{
    border-left-color: rgba(0,0,0, 0);
}

.nd-label{
    /*font-weight: bold;*/
    color: lightgray;
    font-family: 'Kreon', serif;
    font-style: italic;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    position: relative;
    border: 0px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0)  !important;
    width:200px;
    font-size:40px;
    background-color: transparent;
    opacity: 0.9
}

.nd-label:before{
    border-left-color: rgba(0,0,0, 0);
}

.marker-icon {
    color: #006080;
    font-size: 53px;
    text-shadow: 0 0 2px #ffffff;
}

.checkin-label {
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    position: relative;
    border: 0px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0)  !important;
    width:200px;
    font-size:20px;
    background-color: transparent;
}

.checkin-label:before{
    border-left-color: rgba(0,0,0, 0);
}

/*!
 * jQCloud 2.0.3
 * Copyright 2011 Luca Ongaro (http://www.lucaongaro.eu)
 * Copyright 2013 Daniel White (http://www.developerdan.com)
 * Copyright 2014-2017 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
.jqcloud {
    font: 10px "Helvetica", "Arial", sans-serif;
    line-height: normal;
    overflow: hidden;
    position: relative;
}

.jqcloud-word {
    margin: 0;
    padding: 0;
}
.jqcloud-word.w1 {
    color: #aab5f0;
    font-size: 100%;
}
.jqcloud-word.w2 {
    color: #99ccee;
    font-size: 150%;
}
.jqcloud-word.w3 {
    color: #a0ddff;
    font-size: 200%;
}
.jqcloud-word.w4 {
    color: #90c5f0;
    font-size: 250%;
}
.jqcloud-word.w5 {
    color: #90a0dd;
    font-size: 300%;
}
.jqcloud-word.w6 {
    color: #90c5f0;
    font-size: 350%;
}
.jqcloud-word.w7 {
    color: #3399dd;
    font-size: 400%;
}
.jqcloud-word.w8 {
    color: #00ccff;
    font-size: 450%;
}
.jqcloud-word.w9 {
    color: #00ccff;
    font-size: 500%;
}
.jqcloud-word.w10 {
    color: #00ccff;
    font-size: 550%;
}
.jqcloud-word a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
.jqcloud-word a:hover {
    color: #00ccff;
}

#cloud {
    width:100%;
    height: 400px;
    z-index: 1003;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    display : block;
    /*padding: 20px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    background-color: rgba(245, 245, 245, 0) !important;
    width: 100%;
}

.camp-icon-1{
    color: #2A75EA;
    font-size: 30px
}
.camp-icon-2{
    color:#E86ACA ;
    font-size: 30px
}
.camp-icon-3{
     color: #08D587;
    font-size: 30px
 }





